.sideBar {
    grid-template-rows: 1em;
    height: 250vh;
    background-color: beige;    
  }
  .categoryPane {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;    
  }
  .sideTitles {
    padding: 1rem;
    font-weight: bolder;
  }
  .sideBarSubItems {
    padding-bottom: 0.6rem;
  }
  .checks {
    padding-bottom: 0.6rem;
  }

  .priceRangePane {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .mainContent {
    grid-template-rows: 8em 8em 8em;
    display: grid;  
  }

  .productsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  
  .productCard {
    grid-template-rows: 1fr;
  }
  .card_caption {
    display: flex-column;
    justify-content: space-around;
    padding: 0.7rem 0rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .card {
    /* border: 2px solid #d3d3d3; */
    margin-bottom: 1rem;
    border-radius: 10px;
    /* width: 100%; */
    height: 17rem;
    /* background-color: slategray; */
    cursor: pointer;
  }
  
  .thumbnail {
    border-radius: 15px;
    width: 95%;
    height: 80%;
    padding-top: 0.5rem;
    object-fit: cover;
  }
  